body{
    height:100%;
    width: 100%;
    margin: 0;
    background-color: #45d678;
    font-family: sans-serif;
}

#container{
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;
    background-color: #292929;
    overflow: hidden;
}

.line{
    
}